<!doctype html>
<html ng-app="directoryApp">

<head>
  <title>AngularJS for everyone</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="directory.js"></script>
  <style media="screen">
    .over-thirty {
      background: red;
      color: white;
    }
    .under-thirty {
      background: blue;
      color: white;
    }
    .hidden {
      display: none;
    }
  </style>
</head>

<body ng-controller="directoryController as dirList">
  <input type="text" ng-model="search" name="" value="">
  <ul ng-class="{'hidden': !dirList.toggle}">
    <li ng-repeat="item in dirList.list| filter:search" ng-class="item.age > 29 ? 'over-thirty' : 'under-thirty'">
      <img ng-src="{{item.img}}" /> {{item.name}} - <em>{{item.age}}</em>
    </li>
  </ul>
  <button ng-hide="dirList.toggle" ng-click="dirList.toggle = true">Show names</button>
  <button ng-hide="!dirList.toggle" ng-click="dirList.toggle = false">Hide names</button>
  <form ng-submit="dirList.addPerson()">
    <input type="text" placeholder="Name" ng-model="dirList.name">
    <input type="number" placeholder="Age" ng-model="dirList.age">
    <input type="submit" name="" value="Submit">
  </form>
</body>

</html>
